<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            
            <dataSource type="POOLED" >
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cuponsmart?serverTimezone=UTC"/>
                <property name="username" value="admin"/>
                <property name="password" value="equipo6"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/categoria-mapper.xml"/>
        <mapper resource="mybatis/mapper/cliente-mapper.xml"/>
        <mapper resource="mybatis/mapper/estado-mapper.xml"/>
        <mapper resource="mybatis/mapper/estatus-mapper.xml"/>
        <mapper resource="mybatis/mapper/rol-mapper.xml"/>
        <mapper resource="mybatis/mapper/tipopromocion-mapper.xml"/>
        <mapper resource="mybatis/mapper/municipio-mapper.xml"/>
    </mappers>
</configuration>